@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  position: relative;
}

main {
  max-width: 26rem;
  margin-inline: auto;
}

@media (min-width: 58.5rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body > div {
    width: 100%;
  }
  main {
    max-width: 100%;
  }
}
